h1 {
    font-weight: strong;
    color: teal;
}

h2 {
    font-weight: strong;
}

h3 {
    color: teal;
}

.options {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 3px;
}

#matchPhoto{
    width: 200px;
    height: auto;
}

.jumbotron {
    background-color: rgb(29, 204, 204);
}

a {
    color: teal;
}